body{
    overflow-x: hidden;
}
.found{
    font-weight: 700;
    background: #e67300;
    color: #fff;
    border: 1px solid #e67300;
}
.notfound{
    border: 1px solid #e67300; 
}
.logo{
    width: 150px;
}
